{% extends 'base.html'%}
{% block title %}
{% endblock %}
{% block body %}
<div class="container row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>
<li>Lorem ipsum dolor sit amet.</li>
<li>Delectus et illum incidunt quisquam?</li>
<li>Doloribus in incidunt velit vero.</li>
<li>Accusantium ad laborum nesciunt totam.</li>
<li>Eligendi minus nesciunt quos voluptate!</li>
<li>Assumenda eligendi officia quo vero.</li>
<li>Autem error quae temporibus ut.</li>
<li>Delectus explicabo quia quidem vel.</li>
<li>Eaque illum iure molestiae sequi?</li>
<li>Dignissimos et officia quam veritatis!</li>
<li>Assumenda error ipsum natus voluptatem.</li>
<li>Ad deserunt expedita non perspiciatis?</li>
<li>Ea inventore nemo porro rerum.</li>
<li>Ab obcaecati perspiciatis tenetur vero!</li>
<li>Alias ea magni nam voluptatibus.</li>
<li>Adipisci consectetur facere ipsam maiores.</li>
<li>Assumenda dignissimos dolore laborum qui.</li>
<li>Dolorem ipsum molestias obcaecati temporibus?</li>
<li>Blanditiis laboriosam numquam suscipit voluptatum.</li>
<li>Aliquid corporis dolores magnam modi!</li>
<li>Aliquam deserunt dicta fugiat saepe!</li>
<li>Cupiditate est explicabo nulla quaerat!</li>
<li>Incidunt odio officiis quam quibusdam.</li>
<li>Ad debitis minima qui vitae.</li>
<li>Aspernatur itaque odio quibusdam recusandae.</li>
<li>Aliquid, nulla vel. Quibusdam, rem.</li>
<li>Ad harum repellat sit voluptatibus?</li>
<li>Consectetur fuga incidunt sed ullam.</li>
<li>Autem consequuntur illum reiciendis totam.</li>
<li>Facilis obcaecati pariatur ratione rem?</li>
<li>Consequatur exercitationem magni neque tenetur?</li>
<li>Iusto optio quam quasi sint?</li>
<li>Fuga sequi tempora ullam unde!</li>
<li>Dignissimos earum enim omnis pariatur.</li>
<li>Aperiam blanditiis cumque eos neque?</li>
<li>Ea modi odit quos voluptatem.</li>
<li>Blanditiis facilis illum recusandae veritatis.</li>
<li>Exercitationem quis sapiente veritatis vitae!</li>
<li>A aliquid nihil provident ut?</li>
<li>Aperiam consectetur dolorem optio quidem!</li>
<li>Aut corporis fugit quasi repudiandae.</li>
<li>Aliquam asperiores consequuntur qui vero.</li>
<li>Dolores maiores nesciunt quia repellendus!</li>
<li>Atque cumque hic nihil quaerat!</li>
<li>A at hic in perferendis.</li>
<li>Ducimus et omnis recusandae rem.</li>
<li>Libero neque quisquam soluta ut.</li>
<li>Alias debitis impedit in quaerat.</li>
<li>Consequatur dolores incidunt maiores nam.</li>
<li>Accusamus dolor illo inventore quam.</li>
<li>Ea ipsa molestiae natus voluptas?</li>
<li>Dolor in minima non nulla.</li>
<li>Architecto eligendi necessitatibus rerum veniam.</li>
<li>Distinctio eos labore quod voluptatibus?</li>
<li>Autem enim maxime numquam quam?</li>
<li>Asperiores enim odio suscipit voluptatibus?</li>
<li>Alias architecto quae sit voluptates.</li>
<li>Eius eos libero porro quaerat.</li>
<li>Adipisci beatae dignissimos provident voluptate.</li>
<li>Est eveniet harum in minus.</li>
<li>Doloribus provident quos sapiente vel?</li>
<li>Blanditiis eius neque quaerat quos!</li>
<li>Nemo possimus recusandae tenetur voluptatibus.</li>
<li>Ducimus ea repellat sed voluptatibus.</li>
<li>Distinctio est perferendis quis vero.</li>
<li>Beatae dolor earum ex hic!</li>
<li>Ab alias nisi nostrum pariatur.</li>
<li>Excepturi facere itaque magnam praesentium!</li>
<li>Enim nesciunt quia tempore voluptatibus!</li>
<li>Accusamus aliquid dolore impedit veritatis.</li>
{% endblock %}